.footer {
  padding: 50px 0 40px;
}

.footer_container {
  display: grid;
  gap: 27px;
  grid-template-areas:
    "logo ."
    "copyright contacts";
}
.footer__logo {
  grid-area: logo;
}
.footer__copyright {
  grid-area: copyright;
}
.footer__contacts {
  grid-area: contacts;
  justify-self: end;
  min-width: 180px;
}
.footer__contact:not(:last-child) {
  margin-bottom: 8px;
}
.footer__contact-link:hover {
  color: red;
}
